@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(22\).jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}

/* border page login */

.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
} 

/* h1 (Login) */

.wrapper h1{
    font-size: 36px;
    text-align: center;

}

/* input (text and password) */

.wrapper .input_box{
    
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
    color: #fff;

}
.input_box input::placeholder{
    color: #fff;
}

/* icon */

.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* label(input checbox) and a */

.wrapper .remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember_forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember_forgot a{
    color: #fff;
    text-decoration: none;
}
.remember_forgot a:hover{
    text-decoration: underline;
}

/* button */

.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600 ;
    transition: all 0.3s ease 0s;

}
.wrapper .btn:hover{
    background: transparent;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

/* p and a "Don't have account? register" */

.wrapper .register_link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register_link p a:hover{
    text-decoration: underline;
}

